@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

:root {
    --sidewidth: clamp(200px, 25vw, 420px);
    --mainwidth: calc(100vw - (var(--sidewidth)));
    --topleft: calc(50% (var(--mainwidth)));
}

// ==== overall layout ====

body {
    font-family: Roboto, sans-serif;
    color: #333;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    background: #eee;
    height: 100vh;
}


.container {
    width: 100vw;
    height: inherit;
    display: grid;
    grid-template-columns: var(--sidewidth) var(--mainwidth);
    grid-template-rows: 18% 1fr;
}

// ==== header ====

header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    box-shadow: rgba(180, 180, 180, 0.19) 0px 10px 20px, rgba(163, 163, 163, 0.23) 0px 6px 6px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-right: 4rem;
    margin-left: 3rem;

    .search {
        //top left
        width: var(--topleft);
        display: flex;
        max-height: 50%;
        align-items: center;

        img {
            width: clamp(20px, 2.5vw, 40px);
            height: clamp(20px, 2.5vw, 40px);
        }

        input {
            width: clamp(180px, 28vw, 600px);
            border: 1px solid #e2e2e2;
            background-color: #e2e2e2;
            border-radius: 10px;
            padding: 7px;
            font-size: 14px;
            height: clamp(30px, 3vw, 40px);
            margin-left: 1rem;
        }
    }

    .account-info {
        //top right
        width: 25vw;
        display: flex;
        align-items: center;

        >* {
            margin-left: 2rem;
            font-size: clamp(0.7rem, 1.5vw, 1.4rem);
            font-weight: 600;
        }

        .bell {
            width: clamp(20px, 2.5vw, 40px);
            height: clamp(20px, 2.5vw, 40px);
        }

        .user {
            width: clamp(40px, 4vw, 65px);
            height: clamp(40px, 4vw, 65px);
        }
    }
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
    margin-left: 3rem;

    .welcome {
        //bottom left
        align-self: center;
        display: flex;
        align-items: center;
        width: 45vw;

        img {
            width: clamp(50px, 6vw, 80px);
            height: clamp(50px, 6vw, 80px);
        }

        .user-name {
            display: flex;
            align-self: center;
            flex-direction: column;
            margin-left: 2rem;

            p {
                font-size: clamp(0.4rem, 1.9vw, 0.9rem);
                font-weight: 600;
            }

            h1 {
                margin-top: -15px;
                font-size: clamp(0.7rem, 2.7vw, 1.6rem);
            }
        }
    }

    .nav-bar {
        //bottom right
        width: 30vw;
        display: flex;
        justify-content: center;
        align-self: center;
        max-height: 40%;

        >button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1rem;
            margin-top: 15px;
            font-size: clamp(0.5rem, 1.2vw, 1rem);
            font-weight: bold;
            width: clamp(2.2rem, 7vw, 7rem);
            height: clamp(1.8rem, 5vh, 2.8rem);
            color: #FFFFFF;
            background-color: #e7447b;
            border: none;
            border-radius: 30px;
            padding: 10px 40px;
            cursor: pointer;
        }

        button:hover {
            background-color: #f784aa;
        }
    }
}

// ==== aside ====

aside {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background: linear-gradient(125deg, #d53384 0%, #e7447b 50%, #f59e6c 100%);
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 47%;
    margin-left: 2rem;
    margin-top: 2rem;

    >* {
        margin-bottom: clamp(0.8rem, 2.5vh, 2.3rem);
    }

    .row {
        display: flex;
        align-items: center;
        color: #fff;

        p {
            margin-left: 1rem;
        }
    }
}

.logo .row {
    font-size: 1.6rem;

    img {
        height: clamp(2rem, 5vw, 3rem);
        margin-left: -1rem;

        filter: invert(100%);
    }

    h2 {
        margin-left: 1rem;
        font-size: clamp(1rem, 2.2vw, 1.8rem);
        font-weight: bold;
    }
}


.group1,
.group2,
p {
    font-size: clamp(0.8rem, 1.9vw, 1.5rem);
    font-weight: bold;
}


.group2 {
    bottom: 10rem;
}

// ==== main ====

main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 67% 1fr;
    gap: 1.5rem;

    p {
        font-weight: 400;
        color: #555;
    }

    .card,
    .announcements,
    .trending {
        position: relative;
    }

    h2 {
        font-size: clamp(1.5rem, 1.7vw, 1.8rem);
        position: absolute;
        top: calc(-62px - 0.1vh);
        left: 3px;
    }


}

// ==== main left ====

.left-main {
    margin: 5rem 0 6rem 1.5rem;
    --cardwidth: clamp(250px, 20vw, 600px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--cardwidth), 1fr));
    gap: 1.5rem;
}

.card {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-left: 10px solid #78dcfa;

    h3 {
        font-size: clamp(1rem, 1.5vw, 1.7rem);
    }

    p {
        margin-top: -18px;
        font-size: clamp(0.8rem, 1.2vw, 1.4rem);
    }

    .icon-row {
        display: flex;
        justify-content: flex-end;

        >img {
            margin-left: 1rem;
        }
    }

}

// ==== main right ====

.right-main,
.announcements {
    display: flex;
    flex-direction: column;
}

.announcements,
.trending {
    background: #fff;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 5rem;
    margin-right: 2rem;
}

.announcements {
    padding: 2.2rem;

    .wrapper-1,
    .wrapper-2 {
        border-bottom: 1px solid #ccc;
    }

    p {
        margin-top: -15px;
        font-size: clamp(0.8rem, 1vw, 1.3rem);
    }
}

.trending {
    padding: 1.5rem;

    .wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    img {
        width: clamp(40px, 4vw, 65px);
        height: clamp(40px, 4vw, 65px);
        margin-right: 1rem;
    }

    h4 {
        font-size: clamp(1rem, 1.2vw, 1.4rem);
    }

    p {
        margin-top: -20px;
        font-size: clamp(0.9rem, 1.1vw, 1.3rem);
    }
}

// ==== footer ====

footer {
    position: fixed;
    width: 100vw;
    text-align: center;
    bottom: 0;
    padding: 3px;
    background-color: #FFF;
    color: #222;

    >* {
        margin: 5px;
    }

    img {
        height: 1.3rem;
        margin-bottom: -3px;
    }

    a {
        color: #222;
        text-decoration: none;
        font-size: 1.1rem;
    }

    a:hover {
        text-decoration: underline;
    }
}